* {
  box-sizing: border-box;
}


html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}

h1{
	font-family: 'Calligraffitti';
	font-size: 50px;
}

.conteudo{padding:0.01em 16px;margin-bottom:16px}

.experiencias{
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	height:565px;
	line-height:2.0em;
}


.lateral{float:left;
		width:40%;
		padding-top:80px;
		text-align:left;
		line-height:20px;
		box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}

.lateral2{float:left;width:60%}

.textovermelho{color:#990000!important}

.fonte18{font-size:18px!important}

.fonte12{font-size:12px!important}

.fundocinza{color:#000!important;background-color:#f1f1f1!important}

.centralizado{text-align:center!important}

.vermelho{color:white!important;background-color:#990000!important}

.fonte36{font-size:36px!important}

