.nav1{
	position:fixed;
	width:100%;
	box-shadow:0 4px 10px 0 rgba(0,0,0,0.50),0 4px 20px 0 rgba(0,0,0,0.75);
}
.nav2{
	position:fixed;
	width:100%;
	border-bottom: 0.5px solid black;
}
i{
	color:black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #204060;
}

.left, .right {
  float:left;
  width:20%; /*The width is 20%, by default*/
}

.main {
  float:left;
  width:60%; /*The width is 60%, by default*/
}

/*Use a media query to add a breakpoint at 800px:*/
@media (max-width:800px) {
  .left, .main, .right {
    width:100%; /*The width is 100%, when is 800px or smaller*/
  }
}


li {
    float: left;
}

li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 24px 48px;
    text-decoration: none;
}
li a:hover {
    background-color: white;
	color:black;
}


